[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
