[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/rosenfeld/snippets"]
	path = bundle/rosenfeld/snippets
	url = git://github.com/rosenfeld/snipmate-snippets.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/wycats/nerdtree.git
[submodule "bundle/nerd_commenter"]
	path = bundle/nerd_commenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = git://github.com/ujihisa/camelcasemotion.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/chrismetcalf/vim-taglist.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
[submodule "bundle/gemfile"]
	path = bundle/gemfile
	url = git://github.com/tobiassvn/vim-gemfile.git
[submodule "bundle/css-color"]
	path = bundle/css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "bundle/jquery"]
	path = bundle/jquery
	url = git://github.com/itspriddle/vim-jquery.git
[submodule "bundle/replace"]
	path = bundle/replace
	url = git://github.com/vim-scripts/replace.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/specky"]
	path = bundle/specky
	url = git://github.com/vim-scripts/Specky.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = git://github.com/vim-scripts/javacomplete.git
[submodule "bundle/htmlspecialchars"]
	path = bundle/htmlspecialchars
	url = git://github.com/vim-scripts/htmlspecialchars.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = http://github.com/vim-scripts/grep.vim.git
[submodule "bundle/greplace"]
	path = bundle/greplace
	url = git://github.com/vim-scripts/greplace.vim.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/ruby-debugger"]
	path = bundle/ruby-debugger
	url = git://github.com/rosenfeld/vim-ruby-debugger.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/javascript-syntax"]
	path = bundle/javascript-syntax
	url = git://github.com/vim-scripts/JavaScript-syntax.git
[submodule "bundle/conque-term"]
	path = bundle/conque-term
	url = git://github.com/rosenfeld/conque-term.git
[submodule "bundle/align"]
	path = bundle/align
	url = git://github.com/tsaleh/vim-align.git
[submodule "bundle/session"]
	path = bundle/session
	url = git://github.com/vim-scripts/session.vim--Odding.git
[submodule "bundle/color-sampler-pack"]
	path = bundle/color-sampler-pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
